.env
.env.local
server/.env
server/media/cache/*
server/media/avatars/*
!server/media/.gitkeep
*.sql
!db/migrations/*.sql
!db/seeds/*.sql
# Dependencies and build output
node_modules/
dist/
server/node_modules/
server/dist/
